<!DOCTYPE html>
<html>
<head><title>Batch 251</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
<img src="{{ url_for('static', filename='images/uiu_logo.png') }}">
<h1>Batch 251</h1>
</header>
<div class="container">
<a class="button" href="/batch251/notes">Notes</a>
<a class="button" href="/batch251/questions">Questions</a>
<a class="button" href="/batch251/study_materials">Study Materials</a>
<a class="button" href="/batch251/other_materials">Other Materials</a>
<a class="button" href="/batch251/TBA">Tba</a>
</div>
<footer>Developed by Salman Rohan, BGE 251, ID: 3212510021</footer>
</body>
</html>