<!DOCTYPE html>
<html>
<head><title>notes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
<img src="{{ url_for('static', filename='images/uiu_logo.png') }}">
<h1>Notes</h1>
</header>
<div class="container">
<a class="button" href="/batch243/notes/TBA1">TBA1</a>
<a class="button" href="/batch243/notes/TBA2">TBA2</a>
<a class="button" href="/batch243/notes/TBA3">TBA3</a>
</div>
<footer>Developed by Salman Rohan, BGE 251, ID: 3212510021</footer>
</body>
</html>