<!DOCTYPE html>
<html>
<head><title>Final Question</title>
<link rel="stylesheet" href="{{{{ url_for('static', filename='style.css') }}}}">
</head>
<body>
<header>
<img src="{{{{ url_for('static', filename='images/uiu_logo.png') }}}}">
<h1>Final Question</h1>
</header>
<div class="container">
<img class="photo" src="{{{{ url_for('static', filename='images/sample1.jpg') }}}}">
<img class="photo" src="{{{{ url_for('static', filename='images/sample2.jpg') }}}}">
<img class="photo" src="{{{{ url_for('static', filename='images/sample3.jpg') }}}}">
</div>
<footer>Developed by Salman Rohan, BGE 251, ID: 3212510021</footer>
</body>
</html>