<!DOCTYPE html>
<html>
<head><title>study_materials</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
<img src="{{ url_for('static', filename='images/uiu_logo.png') }}">
<h1>Study Materials</h1>
</header>
<div class="container">
<a class="button" href="/batch252/study_materials/Slide_by_Faculty">Slide by Faculty</a>
<a class="button" href="/batch252/study_materials/Book">Book</a>
</div>
<footer>Developed by Salman Rohan, BGE 251, ID: 3212510021</footer>
</body>
</html>